<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notandi.easypayprototype" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.internet" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Product_Name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Access"
            android:label="@string/Product_Name"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Amount"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_amount" >
        </activity>
        <activity
            android:name=".Payment"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name=".EnterCardManualy"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_enter_card_manualy" >
        </activity>
        <activity
            android:name=".PaymentResult"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_payment_result" >
        </activity>
        <activity
            android:name=".Receipt"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_receipt" >
        </activity>
        <activity
            android:name=".ReceiptSent"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_receipt_sent" >
        </activity>
        <activity
            android:name=".ProductList"
            android:screenOrientation="portrait"
            android:label="@string/amount_products" >
        </activity>
        <activity
            android:name=".AddProduct"
            android:screenOrientation="portrait"
            android:label="@string/add_product" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/Product_Name" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_list" />
        </activity>
        <activity
            android:name=".start"
            android:screenOrientation="portrait"
            android:label="@string/Product_Name" >
        </activity>
        <activity
            android:name=".SoluYfirlit"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_solu_yfirlit" >
        </activity>
        <activity
            android:name=".Bakfaersla"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_bakfaersla" >
        </activity>
    </application>

</manifest>
